body {
  background-color: #002b31;
  color: #fb8569;
  margin: 0;
  font-family: Arial, sans-serif; 
}

.ProgressApp {
  text-align: center;
  padding: 20px;
}

.ProgressApp-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
}

#logo {
  height: 80px; 
  width: 80px;
  margin-left: 20px; 
}

h1 {
  color: #fb8569;
  text-shadow: 
    0 0 2px #fb8569,
    0 0 2px #fb8569,
    0 0 2px #fb8569,
    0 0 2px #fb8569,
    0 0 10px #fb8569,
    0 0 5px #fb8569;
  font-size: 2.5em; 
  font-weight: bold; 
  margin: 0; 
}

hr {
  border: 0.2px solid #fb8569;
  margin: 20px auto; 
}
